<div class="container grid-lg mt-2">
  <section class="columns">
    <div class="col-4">
  
      <article class="card mx-1 my-1">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1591955506264-3f5a6834570a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&q=80" class="img-responsive">
        </div>
        <div class="card-header">
          <div class="card-title h5">Cup #1</div>
          <div class="card-subtitle text-gray">Awesome Cup #1</div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure fugit perspiciatis fugiat commodi amet pariatur, repellendus deserunt ullam
          <div><span class="chip">Home</span></div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Buy</button>
        </div>
      </article>
    </div>
    <div class="col-4">
  
      <article class="card mx-1 my-1">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1591955506264-3f5a6834570a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&q=80" class="img-responsive">
        </div>
        <div class="card-header">
          <div class="card-title h5">Cup #1</div>
          <div class="card-subtitle text-gray">Awesome Cup #1</div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure fugit perspiciatis fugiat commodi amet pariatur, repellendus deserunt ullam
          <div><span class="chip">Home</span></div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Buy</button>
        </div>
      </article>
    </div>
    <div class="col-4">
  
      <article class="card mx-1 my-1">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1591955506264-3f5a6834570a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&q=80" class="img-responsive">
        </div>
        <div class="card-header">
          <div class="card-title h5">Cup #1</div>
          <div class="card-subtitle text-gray">Awesome Cup #1</div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure fugit perspiciatis fugiat commodi amet pariatur, repellendus deserunt ullam
          <div><span class="chip">Home</span></div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Buy</button>
        </div>
      </article>
    </div>
  </section>
</div>